SIP_USERNAME=096787771179
SIP_PASSWORD=
SIP_SERVER=203.76.101.50
SIP_EXTERNAL_IP=

ARI_URL=http://127.0.0.1:8088
ARI_USER=ari_user
ARI_PASSWORD=change_me_ari_strong_pass

GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.1-flash-live-preview
GEMINI_LIVE_ENDPOINT=

NODE_HOST=0.0.0.0
NODE_MEDIA_HOST=127.0.0.1
NODE_MEDIA_PORT=4000
NODE_HTTP_PORT=5410

RECORDING_DIR=./recordings
RECORDING_UPLOAD_TOKEN=change_me_upload_token

STASIS_APP=gemini-live
